@import url("./stylesheets/main.css");

body{
    background-color: var(--black-color);
    color: var(--white-color);
    height: 100%;
    width: 100%;
}

.landing-container {
    height: 100vh;
    color: var(--white-color);
    max-width: 600px;
    margin: auto;
    padding: 2rem;
}

.intro-container {
    padding: 1rem 1rem 3rem 1rem;
    background-color: var(--doc-bg);
    color: var(--contrast-color);
    border-radius: 1rem;
}

.btn-landingpage {
    color: var(--white-color);
    padding: 1rem;
    margin: 0.5rem;
}

.page-heading {
    color: var(--contrast-light);
}

.nav-container{
    color: var(--contrast-color);
    background-color: var(--black-color);
    border-bottom: 1px solid;
}

.nav-container .nav-pills ul li a {
    color: var(--contrast-color);
}

.nav-container .nav-pills ul li a:hover {
    background-color: var(--secondary-color);
    color: var(--white-color);
}