.cat-container {
    margin: 2rem 5rem;
    gap: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

@media screen and (max-width: 750px) {
    .cat-container {
        margin: 2rem;
    }
    .cat-item {
        justify-self: center;
    }
}