.question-container {
    width: clamp(300px, 70vw, 70%);
    margin: 3rem auto;
}

.question-info{
    color: var(--primary-lighter);
}

.question-current {
    font-size: 1.25rem;
    text-align: left;
    margin-top: 2rem;
}

.question-options-container {
    margin-bottom: 2rem;
}

.option-item {
    color: white;
    margin: 1rem;
    width: 15rem;
    padding: 1rem;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid var(--contrast-light);
    border-radius: 1rem;
}

 .question-score-info, .question-actions {
    justify-content: space-between;
}
